*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #555555 !important;
}

.wrapper {
    position: relative;
  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

header,
footer {
  flex-shrink: 0;
  padding: 40px 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.logo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 48px;
}

#videos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    margin-bottom: 24px;
}

.video-player{
    background-color: black;
    width: 100%;
    object-fit: cover;
}


.smallFrame{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 170px;
    width: 300px;
    border-radius: 5px;
    border:2px solid #b366f9;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 999;
}


#controls{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    gap: 1em;
}


.control-container{
  background-color: rgb(179, 102, 249, .9);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control-container img{
    height: 30px;
    width: 30px;
}

#leave-btn,
.leave-btn {
    background-color: #fe4a49;
    color: #ffffff;
    width: 262px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    transition: opacity 0.3s ease-in;
}

#leave-btn:hover,
.leave-btn:hover {
    opacity: 0.7;
}

@media screen and (max-width:600px) {
        .smallFrame{
            height: 80px;
            width: 120px;
        }

        .control-container img{
            height: 20px;
            width: 20px;
        }
}

#user-2{
    width: 100%;
    height: 100%;
    max-width: 960px;
    max-height: 568px ;
    border-radius: 8px;
}

#user-1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 120px;
    border-radius: 8px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-right: 62px;
}

.timer {
    color: #ffffff;
}

footer .container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

footer span {
    color: #ffffff;
}

footer a {
    color: #039C69;
    transition: opacity 0.3s ease-in;
}

footer a:hover {
    color: #039C69;
    opacity: 0.7;
}

#videos label {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.2);
    cursor: pointer;
}

#videos label span,
#videos label span svg {
    display: block;
    width: 28px;
    height: 28px;
}

#videos input {
    opacity: 0;
    width: 1px;
    height: 1px;
}

#videos:has(input:checked) {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#videos:has(input:checked) #user-2 {
    max-width: 100%;
    max-height: 100%;
}

#videos:has(input:checked) + .controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
}

.info {
    display: block;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    padding: 50px 20px;
}

.home-link {
    display: block;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
    transition: opacity 0.3s ease-in;
}

.home-link:hover {
    color: #ffffff;
    opacity: 0.7;
}

@media (max-width: 767px) {
    body {
        background-color: #2e2e2e;
    }

    #videos {
        margin-top: 75px;
    }

    #videos:has(input:checked) {
        margin-top: 0;
    }

    #videos:has(input:checked) #user-1 {
        bottom: 8px;
    }

    #videos:has(input:checked) + .controls .timer {
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
    }

    #user-1 {
        bottom: -64px;
        right: 8px;
        width: 100px;
        height: 150px;
    }

    #user-2 {
        min-height: 240px;
    }

    .controls {
        padding-right: 0;
    }

    .timer {
        position: absolute;
        top: 26px;
        right: 8px;
    }
    
    .leave-btn {
        min-width: 64px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        z-index: 100;
    }
    
    .leave-btn span {
        display: none;
    }

    footer .container {
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }

    header, footer {
        padding: 16px 0;
    }

    .info {
        padding: 20px;
    }
}
 